/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  text-align: center;
}

/* Judul */
h1 {
  background-color: #E6B980;
  padding: 15px;
  margin: 0;
  font-size: 20px;
}

/* Layar */
.screen {
  margin: 20px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
}

/* Kursi */
.row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.seat {
  width: 35px;
  height: 35px;
  margin: 3px;
  background: #E6B980;
  color: black;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.seat.selected {
  background: #2196F3;
  color: white;
}

.seat.booked {
  background: #777;
  color: white;
  cursor: not-allowed;
}

/* Tombol */
button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#checkoutBtn {
  background-color: #4CAF50;
  color: white;
}

#checkoutBtn:hover {
  background-color: #45a049;
}

#backBtn {
  background-color: #ddd;
}

#backBtn:hover {
  background-color: #bbb;
}
